name: main
on: [push, pull_request]
jobs:
  test:
    name: Build on ${{ matrix.os }} with Go ${{ matrix.go }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
        go: ['1.14']
    steps:
    - name: Set up Go ${{ matrix.go }}
      uses: actions/setup-go@v2.1.3
      with:
        go-version: ${{ matrix.go }}

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2.3.4

    - name: Download dependencies
      run: go mod download

    - name: Cache modules
      uses: actions/cache@v2.1.4
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.OS }}-go-${{ hashFiles('**/go.sum') }}

    - name: Build
      run: go build

    - name: Test
      run: go test -v -coverpkg ./... -covermode atomic -coverprofile coverage.txt -tags fuzz -numCases 3000 -numEvents 10 ./...

    - name: Lint
      uses: golangci/golangci-lint-action@v2
      if: matrix.os == 'ubuntu-latest'
      with:
        version: v1.33.0

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        file: ./coverage.txt
