name: main
on: [push, pull_request]
jobs:
  test:
    name: Build on ${{ matrix.os }} with Go ${{ matrix.go }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
        go: ['1.24']
    steps:
    - name: Set up Go ${{ matrix.go }}
      uses: actions/setup-go@v6
      with:
        go-version: ${{ matrix.go }}

    - name: Check out code into the Go module directory
      uses: actions/checkout@v5

    - name: Download dependencies
      run: go mod download

    - name: Cache modules
      uses: actions/cache@v5
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.OS }}-go-${{ hashFiles('**/go.sum') }}

    - name: Build
      run: go build

    - name: Test
      run: go test -coverpkg ./... -covermode atomic -coverprofile coverage.txt -tags fuzz -numCases 3000 -numEvents 10 ./...

    - name: Lint
      run: go vet ./...

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v5.5.2
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        file: ./coverage.txt
